<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sapibagus.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SapiBagusApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a3f935a523e635bfe3e5c32c5f8dbf66fbc5bc4f" />

        <activity
            android:name=".view.home.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.detail.DetailActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".view.page.PageActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".view.DeepLinkingFilterActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="www.sapibagus.com"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
